main {
	padding: 10px;
}

.wrap {
	margin: 100px auto;
	list-style: none;
	display: table;
	padding: 0;
}

.wrap .chain:last-child::after {
	display: none;
}

.chain {
	width: 300px;
	height: 300px;
	text-align: center;
	color: #000;
	background: #b7dcfd;
	vertical-align: middle;
	position: relative;
	border: 1px solid #aaa;
	display: table-cell;
}

.chain:after {
	content: "";
	position: absolute;
	float: right;
	width: 25px;
	height: 30px;
	top: 43%;
	right: -19px;
	z-index: 10;
	background-color: #7C9AAF;
}

.chain>div {
	word-break: break-all;
	font-size: 14px;
}

.chain .prev-hash {
	background-color: rgba(0, 0, 0, 0.3);
	height: 75px;
}

.chain .data {
	height: 150px;
	overflow: auto;
}

.chain .current-hash {
	background-color: rgba(0, 0, 0, 0.3);
	height: 75px;
}

.chain-sep {
	width: 10px;
}